<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD Node.js and Mysql</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <h2>Product List</h2>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>No</th>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
            <%
            for(var i=0; i<results.length; i++)
            {
                %>
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=results[i].id%></td>
                    <td><%=results[i].first_name%></td>
                    <td><%=results[i].last_name%></td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="<%=results[i].id%>" data-first_name="<%=results[i].first_name%>" data-last_name="<%=results[i].last_name%>">Edit</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="<%=results[i].id%>">Delete</a>
                    </td>
                </tr>
                <%
            }
        %>
      </tbody>
    </table>
  </div>
 
    <!-- Modal Add Produk-->
      <form action="/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Name</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
               </div>
 
               <div class="form-group">
                   <input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>
 
     <!-- Modal Update Produk-->
   <form action="/update" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Name</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="first_name" class="form-control first_name" placeholder="First Name" required>
              </div>
 
              <div class="form-group">
                  <input type="text" name="last_name" class="form-control last_name" placeholder="Last Name" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="text" name="id" class="form-control id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
  </form>
 
     <!-- Modal Delete Produk-->
     <form id="add-row-form" action="/delete" method="post">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                   <div class="modal-header">
                      <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                        <strong>Anda yakin mau menghapus data ini?</strong>
                   </div>
                   <div class="modal-footer">
                        <input type="text" name="id" class="form-control id2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                </div>
            </div>
         </div>
     </form>
 
<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
        //tampilkan data ke modal untuk edit
        $('#mytable').on('click','.edit',function(){
            var id = $(this).data('id');
            var fn = $(this).data('first_name');
            var ln = $(this).data('last_name');
            $('#EditModal').modal('show');
            $('.first_name').val(fn);
            $('.last_name').val(ln);
            $('.id').val(id);
        });
        
        //tampilkan modal hapus record
        $('#mytable').on('click','.delete',function(){
            var id = $(this).data('id');
            $('#DeleteModal').modal('show');
            $('.id2').val(id);
        });
    });
</script>
</body>
</html>